.header {
  background-color: #f2762e;
  display: flex;
  justify-content: space-between;
  height: auto;
  border-bottom: 8px solid black;
  padding: 10px;
}

.icon {
  border: 2px solid #f25041;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  width: 45px;
  height: 45px;
}

.section_home {
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  background-image: url("../files/teste_avatar.png");
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgba(10, 81, 89);
  border-bottom: 10px solid black;
}
.container_main_info {
  width: 50%;
  height: auto;
  float: left;
  display: block;
  display: inline-flex;
  flex-direction: column;
}
.section_home .container_main_info {
  padding-left: 4%;
  padding-top: 10%;
}
.container_info {
  display: inline-block;
  background-color: #77acf2;
  padding: 2rem;
  box-shadow: 5px 5px 1px black;
  margin: 1rem auto;
}
.container_main_buttons {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
.skills_Box {
  width: 100%;
  height: 100vh;
  background-color: #f2762e;
  border-bottom: 10px solid #77acf2;
}
