.button {
  background-color: #f25041;
  padding: 0.5rem;
  box-shadow: 5px 5px 1px black;
  transition: transform 90ms linear;
  font-size: 20px;
  color: white;
  display: inline-flex;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
.button:hover {
  transform: scale(1.02);
}
.container_main_buttons {
  width: 65%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
