.Box.project {
  background-color: black;
  border-bottom: 10px solid #f2762e;
}
.view.project {
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.project-img {
  object-fit: cover;
  margin: 2rem;
  margin-bottom: 5rem;
  background-color: #4c5b84;
  box-shadow: 10px 10px 0 white;
}
