#view_skills {
  width: 80vw;
  height: auto;
  margin: auto;
  padding-bottom: 5rem;
  display: flex;
  flex-flow: row wrap;
}
.skill_component {
  display: flex;
  max-width: 50%;
  margin: 0.5rem 0;
}
.skills_info {
  width: 30vw;
  padding: 1rem;
}
.skills_img {
  width: 90px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
  padding: 1.3rem;
}
.title.-skills {
  color: white;
  font-size: 2rem;
  text-shadow: 3px 3px 0 black;
  padding-bottom: 0.8rem;
  text-align: start;
  cursor: pointer;
}
