.skills_loading {
  margin: 0;
  padding: 0;
  width: 80%;
  display: inline-block;
  height: 2rem;
  cursor: pointer;
  position: relative;
  border: 4px solid black;
  box-shadow: 4px 4px 1px black;
}
::-webkit-progress-bar {
  background-color: white;
  color: black;
}
::-webkit-progress-value {
  background-color: #77acf2;
  color: white;
}
